body,
h1,
h2,
h3 {
  
}

#mainNav {
  background-color: #C4DFAA;
}

.navbar-brand {
  color: #E9FFC2;
}

.img-slide{
  /* height: 70%; */
  width: 100%;
} 
.masthead {
  background-color: white;
  padding-top: calc(4rem + 74px);
  padding-bottom: 5vh;
  margin-bottom: 0;
}

#sambutanKetuaRois {

}


@media only screen and (max-width: 800px) {
  #sambutanKetuaRois {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #sambutanKetuaRois img {
    text-align: center;
  }
}

